<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <!-- Quote Form -->
      <div class="form-group">
        <label for="name">New Quote:</label>
        <textarea class="form-control" id="description" rows="6" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Quote is Required</p>

        </div>
      </div>

      <!-- Author Name -->
      <div class="form-group">
        <label for="description">Written by:</label>
        <input type="text" class="form-control" id="name" rows="2" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <p> Name is Required</p>

        </div>

      </div>

      <!-- Submitter -->
      <div class="form-group">
        <label for="description">Submitted by:</label>
        <input type="text" class="form-control" id="name" rows="2" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <p> Name is Required</p>

        </div>

      </div>
      <!-- Date Input -->
      <div class="form-group">
        <label for="complete">Date written</label>
        <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p> Date is Required</p>

        </div>
      </div>
      <button type="Submit" class="btn btn-info btn-lg">Add Quote</button>
    </form>
  </div>
</div>
